.login{
    width: 100%;
    height: 100%;
    >img{
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 70%;
    }
    .login-left{
        width: 40%;
        height: auto;
        float: left;
        color: white;
        button{
            background-color: white; 
            border: 2px solid Blue;
            color: blue;
            padding: 10px 10px;
            text-align: center;
            font-size: 20px;
            font-weight: bolder;
            border-radius: 10px;
            margin-left: 100px;
            margin-top: 90px;
        }
        h1{
            font-size: 55px;
            margin-left: 70px;
        }
        h2{
            text-align: center;
            font-size: 25px;
            margin: -45px 100px 20px 105px;
        }
    }
    .login-right{
        width: 50%;
        height: auto;
        float: right;
        margin-top: 9rem;
        .login-right-top{
            width: 100%;
            height: 15vh;
            h1{
                text-align: center;
                font-size: 40px;
                font-weight: bolder;
                color: blue;
                margin-left: 19rem;
            }
            h5{
                display: inline;
                margin-left: 23.5rem;
                //margin-bottom: 1rem;
            }
            a{
                margin-left: 10px;
            }
        }
        .login-right-body{
            width: 100%;
            height: auto;
            margin-top: 2rem;
            float: right;
            //margin-left: 20rem;
            input{
                height: 2rem;
                width: 25rem;
                border-radius: 4px;
                margin: 15px 10px 10px 200px;
                background-color: white;
                padding-left: 10px;
            }
            a{
                margin-left: 31.6rem;
                font-size: 13px;
            }
            .login{
                font-size: 24px;
                background-color: blue;
                color: white;
                width: 11rem;
                height: 3rem;   
                margin-left: 26.5rem;           
            }
            .display{
                margin-left: 35.8rem;
                margin-top: 0.5rem;
                img{
                    width: 10px;
                    height: 10px;
                }
            }
        }
        .login-right-bottom{
            width: 20rem;
            height: 5rem;
            margin-left: 20.5rem;
            h4{
                display: inline;
                margin-right: 30px;
                font-size: 16px;
            }
            button{
                height: 2rem;
                width: 3rem;
                background-color: blue;
                color: white;
                margin: 10px;
                font-size: 24px;
                border-radius: 20px;
                text-align: center;
                //padding: 2px 2px 2px 2px;
            }
        }
    }
}